<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">저에게 연락하고 싶으시다면?</h2>
                <hr class="primary">
                <p>아래의 블로그, 이메일, 깃헙 중 편한 방법으로 연락해주세요.<br>
                    가능한 한 빨리 답변 드리겠습니다!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://ram-t.tistory.com/">
                <i class="fa fa-rss fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>https://ram-t.tistory.com/</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:ramiTae.dev@gmail.com">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>ramiTae.dev@gmail.com</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/RamiTae">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>RamiTae</p>
            </a>
        </div>

    </div>
</section>
