<section id="experience">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Professional Experience</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>
  <div class="row">
    {% for experience in site.data.experience %}
    <div class="col-lg-12 text-center">
      <h3>{{ experience.company }}</h3>
      <h4 class="text-muted">{{ experience.position }}</h4>
      <h5 class="text-muted">{{ experience.dates }}</h5>
      <h5 class="text-muted"><em>{{ experience.quote }}</em></h5>
      <br />
      {{ experience.description }}
    </div>
    {% endfor %}
  </div>
</section>
