<header style="
background-image: url('{{site.asset_url}}/portfolio-main.jpg');">
  <div class="header-content">
    <div class="header-content-inner">
      <h1>태라미<br />rami tae</h1>
      <h2>Backend engineer</h2>
      <hr />
      <p>
        <b>ramiTae.dev@gmail.com<b/><br>
        <a href="https://github.com/{{site.github_username}}"><b>Github<b/></a>
        | 
        <a href="https://www.linkedin.com/in/{{site.linkedIn_username}}">LinkedIn</a>
        |
        <a href="{{site.blog_url}}"><b>Blog<b/></a>
      </p>
      <a href="http://bit.ly/ramitae-resume" target="_blank" class="btn btn-primary btn-xl">Resume</a>
    </div>
  </div>
</header>
